<!-- base.html kai kura lai reuse gareko. -->
{% extends "base.html" %}
{% block start %}

<!-- file upload(like image) garni vaye form ma enctype="multipart/form-data" is necessary -->
<div class="container mt-5 ">

    <form class="col-6 mx-auto card p-3 shadow-lg" style="border: 1px solid black;" method="post" enctype="multipart/form-data"><!--frondend bata backend ma data pathauna post method use garni-->
        {% csrf_token %}<!--It is compulsory to send form data. request ko origin yei server bata vako hoki nai check garxa. Hacking haru bata save garxa-->
        <h2>Login</h2>
        <hr>
        <!-- error message ko code -->
        {% if messages %}
       {{message.tags}}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
            {{message}}
            {% endfor %}
          </div>
{% endif %}
<!-- ya samam -->
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <p>Don't have account? <a href="/register/">Register</a></p>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>  
</div>
    

{% endblock %}